# Use wildcards as well
*~
*.iml
*.eml

# IDE
.idea
build
.classpath
.settings
.project
target
dist
external_libs
node_modules
.tmp
/TAGS
/assignment1/assignment1.out
/assignment1/assignment1.log
/assignment1/assignment1.aux
/assignment1/assignment1.toc
/assignment1/assignment1.pdf
/assignment1/assignment1.synctex.gz
